<div class="container">
	<div class="row">
		<h3 class="col-xs-offset-1">注文情報確認</h3>
	</div>

	<table class="table">
		<thead>
			<tr>
				<th>商品名</th>
				<th>税込価格</th>
				<th>数量</th>
				<th>小計</th>
			</tr>
		</thead>
		<tbody>
			<% @carts.each do |cart| %>
				<tr>
					<td>
						<%= attachment_image_tag cart.product, :image,:fill, 90, 60 %>
						<%= cart.product.product_name %>
					</td>
					<td><%= cart.product.tax_included_price %></td>
					<td><%= cart.quantity %></td>
					<td><%= cart.product.tax_included_price * cart.quantity %></td>
				</tr>
			<% end %>
		</tbody>
	</table>

	<table class="table">
		<tr>
			<th>送料</th><td><%= 800 %></td>
			<th>商品合計</th><td><%= @total %></td>
			<th>請求金額</th><td><%= @claim %></td>
		</tr>
	</table>

	<h4>支払い方法</h4>
	<p><%= session[:payment_method] %></p>

	<h4>お届け先</h4>
	<p><%= session[:postal_code] %><%= session[:address] %></p>
	<p><%= session[:name] %></p>
</div>

<%= link_to '購入確定', order_finish_path %>

